<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MapperVicinityMapSize" value="39" />
    <add key="MapperVicinityMapElementSizeMeters" value="0.25" />
    <add key="RobotWidthMeters" value="0.66" />
    <add key="RobotLengthMeters" value="0.82" />
    <add key="ReferenceCircleRadiusMeters" value="2.0" />
  </appSettings>
</configuration>